.App {
  background-color: rgb(102, 144, 223);
  min-height: 100vh;
}
.customHeader {
  font-size: 25px;
  color: black;
}

.appbar {
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 87, 168) !important;
}

.customCell {
  font-size: 15px;
}
.ag-floating-filter {
  position: absolute;
}
.ag-theme-material {
  height: 70vh;
  width: 95%;
  margin: auto;
  justify-content: center;
}

@media (min-width: 1300px) {
  #aggrid {
    height: 70vh;
    width: 1250px;
    margin: auto;
    justify-content: center;
  }
}
.addButton {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 100%;
  height: 50px;
  font-size: 25px !important;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255) !important;
  color: rgb(44, 87, 168) !important;
}
.addButton:hover {
  background-color: rgb(44, 87, 168) !important;
  color: rgb(255, 255, 255) !important;
}

.editButton {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(44, 87, 168) !important;
}

.editButton:hover {
  background-color: rgb(44, 87, 168) !important;
  color: rgb(255, 255, 255) !important;
}
.deleteButton:hover {
  background-color: rgb(247, 0, 0) !important;
  color: rgb(255, 255, 255);
}
